<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548481446524-u77ct6o9n0d9vfqe2pfams2rofncpjri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548481446524-u77ct6o9n0d9vfqe2pfams2rofncpjri</string>
	<key>API_KEY</key>
	<string>AIzaSyDdLh6wXBSjM88ZPVVMzrTCtKcuy4jw0VI</string>
	<key>GCM_SENDER_ID</key>
	<string>548481446524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cabManagement.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cab-management-7b661</string>
	<key>STORAGE_BUCKET</key>
	<string>cab-management-7b661.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548481446524:ios:0bcb350d378098f1c30ff9</string>
</dict>
</plist>